
CMakeLists\.txt\.user
QtCreatorDeployment\.txt


build-source-*
build-source-Desktop_Qt_5_15_2_GCC_64bit-Debug/
build-source-Desktop_Qt_5_12_2_GCC_64bit-Default/

source/CMakeLists\.txt\.user\.20
source/CMakeLists\.txt\.user\.4\.8-pre1

build/
source/build/*
.vscode/
!source/build/do_*
!source/build/build_all_*
!source/build/pre-commit

*.autosave

*.9-pre1

source/CMakeLists\.txt\.user\.22

*.swp
